@import url("https://fonts.googleapis.com/css?family=Maven+Pro:regular,500,700&display=swap&subset=cyrillic-ext.");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  background-color: #171717;
  color: #ffffff;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 28px;
}

h2 {
  margin-top: 161px;
  position: relative;
  left: 5px;
  font-size: 30px;
  background: none;
}

p {
  margin-top: 41px;
  font-size: 20px;
}

p2 {
  font-size: 20px;
  font-weight: 700;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  place-content: center;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  background-color: #171717;
}
.container {
  max-width: 1460px;
  margin: 0 auto;
}

.header {
  width: 1460px;
  height: 95px;
  background-image: url("./Images/header-bg.jpeg");
  background-size: 1460px;
  background-position: center;
}

img.logo{
width: 216px;
height: 33px;
margin-top: 46px;
}

.header .container-header {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  font-size: 19px;
}

.white-numbs {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: aliceblue;
}

.yellow-numbs {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  font-size: 20px;
  color: rgba(214, 175, 118, 1);
}
.header-contact {
  margin-top: 55px;
  list-style-type: none;
  margin-bottom: 0px;
  padding-left: 0px;
}

.header-contact li {
  display: inline-block;
}

.header-contact li a {
  display: inline-block;
  text-decoration: none;
}

.header-menu-wrap {
  display: flex;
  flex-flow: row nowrap;
}

.callback {
  margin-top: 42px;
  margin-left: 88px;
}

img {
  position: relative;
  left: 5px;
  margin-top: 55px;
  width: 200px;
  height: 60px;
  background: none;
}

button {
  position: relative;
  right: 1px;
  width: 218px;
  height: 50px;
  border: 1px solid #e4b564;
  font-size: 18px;
  color: rgba(228, 181, 100, 1);
  background: #312f2b;
  opacity: 0.8;
  cursor: pointer;
}

button:hover {
  transform: scale(1.04);
  transition: 0.1s ease-in-out;
}

.text-block-1 {
  margin-top: 10px;
  color: #ffffff;
}

/* 
GRID PAGE 1 */

.grid-page-1 {
  margin-top: 41px;
  display: grid;
  grid-gap: 27px;
  grid-template-columns: repeat(3, 1fr);
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.item-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 468px;
  background: #634f2c;
}
.item-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 468px;
  background: #b4a385;
}

.item-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 468px;
  background: #e4b564;
}

.grid-page-1-span {
  display: grid;
  gap: 27px;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 27px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.item-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 468px;
  background: #635a4a;
}

.item-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 468px;
  background: #b08c4d;
}

/* GRID PAGE 2 */

.grid-page-2 {
  margin-top: 94px;
  display: grid;
  grid-gap: 30px;
  text-align: center;
  font-size: 20px;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven";
}

@media (min-width: 50em) {
  .grid-page-2 {
    grid-template-areas:
      "one two three"
      "four five six"
      "four five seven";
  }
}

.grid-item-1-page-2 {
  grid-area: one;
  height: 313px;
  background: rgba(14, 14, 14, 1);
}

.grid-item-2-page-2 {
  grid-area: two;
  height: 313px;
  background: rgba(36, 36, 36, 1);
}

.grid-item-3-page-2 {
  grid-area: three;
  background: rgba(36, 36, 36, 1);
}

.grid-item-4-page-2 {
  grid-area: four;
  background: rgba(31, 31, 31, 1);
}

.grid-item-5-page-2 {
  grid-area: five;
  color: rgba(0, 0, 0, 1);
  background: rgba(228, 181, 100, 1);
}

.grid-item-6-page-2 {
  grid-area: six;
  height: 313px;
  background: rgba(14, 14, 14, 1);
}

.grid-item-7-page-2 {
  grid-area: seven;
  height: 277px;
  background: rgba(10, 9, 9, 1);
}

/* BLOCK-3 OUR CLIENTS */

.our-clients {
  margin-top: 172px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.all-projects-button {
  margin-top: 172px;
}

.clients-grid {
  margin-top: 72px;
  display: grid;
  gap: 0px;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six";
}

@media (min-width: 50em) {
  .clients-grid {
    grid-template-areas:
      "one two three"
      "four five six";
  }
}

.euro-invest-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: one;
  height: 391px;
  background: rgba(99, 79, 44, 1);
}

.mavis {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: two;
  background: rgba(232, 210, 171, 0.76);
}

.mavis-image {
  justify-content: center;
  display: flex;
}

.mavis-image-size {
  width: 60px;
}

.mavis-text {
  display: flex;
  text-align: center;
}

.arsenal-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: three;
  background: rgba(228, 181, 100, 1);
}

.arsenal-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: four;
  height: 391px;
  background: #635a4a;
}

.set-group {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: five;
  background: rgba(176, 140, 77, 1);
}

img.set-img {
  width: 20px;
  height: 30px;
}

.euro-invest-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: six;
  background: #634f2c;
}
